

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

.navbar {
	position: relative;
	height: 15vh;
	margin-bottom: 0;
	background: transparent;
	border-bottom: 0;
}

.info-page {
	height: 85vh;
	width: 100vw;
	display: none;
}

.about {
	background: grey;
	animation-duration: 1.5s;
	/*-vendor-animation-delay: 2s;*/
	/*-vendor-animation-iteration-count: infinite;*/
}

.something {
	float: right;
	margin-top: 20px;
}


#yourElement {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}











