

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body {
	overflow-x: hidden;
	overflow-y: hidden;
}

.wrapper {
	
	background: #6643A4; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, #6643A4, #B600A0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, #6643A4, #B600A0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, #6643A4, #B600A0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, #6643A4, #B600A0); /* Standard syntax */
	height: 100vh;
}

.navbar {
	position: relative;
	height: 15vh;
	margin-bottom: 0;
	background: transparent;
	border-bottom: 0;
}


.logo {
	display: table;
	margin: auto;
	width: 38vw;
	border: 1px dashed white;
	height: 300px;
}


.info-page {
	position: absolute;
	top: 15vh;
	height: 85vh;
	width: 100vw;
	display: none;
	background: white;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.about {
	animation-duration: 1.5s;
	/*-vendor-animation-delay: 2s;*/
	/*-vendor-animation-iteration-count: infinite;*/
}

.something {
	float: right;
	margin-top: 20px;
}


#yourElement {
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}











