

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {font-family:"Hero-Light";src:url("../fonts/Hero-Light/Hero_Light.eot?") format("eot"),url("../fonts/Hero-Light/Hero_Light.woff") format("woff"),url("../fonts/Hero-Light/Hero_Light.ttf") format("truetype"),url("../fonts/Hero-Light/Hero_Light.svg#Hero-Light") format("svg");font-weight:normal;font-style:normal;}


@font-face {font-family:"Regencie Light";src:url("../fonts/Regencie_Light/RegencieLight.eot?") format("eot"),url("../fonts/Regencie_Light/RegencieLight.woff") format("woff"),url("../fonts/Regencie_Light/RegencieLight.ttf") format("truetype"),url("../fonts/Regencie_Light/RegencieLight.svg#RegencieLight") format("svg");font-weight:normal;font-style:normal;}



/*
@font-face {
   font-family: myFirstFont;
   src: url(fonts/Regencie_Light/RegencieLight.woff);
}

div {
   font-family: myFirstFont;
}*/


body {
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: "Regencie Light";
}

.wrapper {
	position: relative;
	background: #6643A4; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left bottom, #6643A4 20%, #B600A0); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(top right, #6643A4 20%, #B600A0); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top right, #6643A4 20%, #B600A0); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to top right, #6643A4 20%, #B600A0); /* Standard syntax */
	height: 100vh;
}

.navbar {
	position: relative;
	height: 15vh;
	margin-bottom: 25px;
	background: transparent;
	border-bottom: 0;
	box-shadow: none;
}

#logo {
	position: absolute;
	top: 30px;
	left: 100px;
	height: 46px;
	width: 48px;
	margin-top: 13px;
	margin-left: 5px;
}

#name {
	position: absolute;
	display: none;
	top: 10px;
	left: 100px;
	font-weight: bolder;
	font-size: 1.2em;
}

.icons {
	position: absolute;
	top: 20px;
	right: 100px;
	display: inline-block;
	float: right;
	margin-top: 30px;
}

.icon {
	height: 36px;
	width: 36px;
}

.drbl {
	background: url("../img/pngicons/Dribbble Normal.png") no-repeat;
	background-size: 35px 35px;
}

.drbl:hover {
	background: url("../img/pngicons/Dribbble Zap.png") no-repeat;
	background-size: 35px 35px;
}

.twtr {
	background: url("../img/pngicons/Twitter  Normal.png") no-repeat;
	background-size: 35px 35px;
}

.twtr:hover {
	background: url("../img/pngicons/Twitter  Zap.png") no-repeat;
	background-size: 35px 35px;
}

.fb {
	background: url("../img/pngicons/Facebook Normal.png") no-repeat;
	background-size: 35px 35px;
}

.fb:hover {
	background: url("../img/pngicons/Facebook Zap.png") no-repeat;
	background-size: 35px 35px;
}

.be {
	background: url("../img/pngicons/Behance Normal.png") no-repeat;
	background-size: 35px 35px;
}

.be:hover {
	background: url("../img/pngicons/Behance Zap.png") no-repeat;
	background-size: 35px 35px;
}

.gplus {
	background: url("../img/pngicons/Google Normal.png") no-repeat;
	background-size: 35px 35px;
}

.gplus:hover {
	background: url("../img/pngicons/Google Zap.png") no-repeat;
	background-size: 35px 35px;
}

/* CENTERED LOGO*/

.logo {
	position: relative;
	top: 93px;
	display: table;
	margin: auto;
	width: 50vw;
	height: 300px;
	color: white;
	font-family: "Regencie Light";
	letter-spacing: 4px;
}

#logo-lg {
	display: block;
	margin: auto;
	height: 174.4px;
	width: 182px;
}

#logo-lg-op {
	display: none;
	margin: auto;
	height: 174.4px;
	width: 182px;
}

.logo h1 {
	position: relative;
	display: block;
	margin: auto;
	top: -105px;
	font-size: 41px;
	text-align: center;
}

.logo h3, .logo p {
	position: relative;
	top: -175px;
}

.logo h3 {
	text-align: center;
	font-family: "Hero-Light"; 
	font-size: 60px;
	margin: 0;
	display: none;
}

.logo p {
	position: relative;
	font-size: 18px;
	display: none;
	font-family: "Hero-Light"; 
	text-align: center;
}	



.info-page {
	position: absolute;
	top: 12vh;
	height: 90vh;
	width: 100vw;
	display: none;
	background: white;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow-y: scroll;
}


.btn-close {
}

.footer {
	position: absolute;
	width: 100%;
	bottom: 0;
	color: white;
}

.footer > .container {
	width: 30%;
}

.footer .list {
	list-style: disc;
}

#bull {
	position: relative;
	top: 4.5px;
	font-size: 26px;
	margin-right: 9px;
}


/* About Page */
.about .wrapper{
	width: 970px;
	margin: auto;
	background: white;
}


.about .jumbotron {
	position: relative;
	background: white;
	height: 300px;
}

.about .jumbotron h2 {
	font-size: 28px;
}

.about .jumbotron p {
	font-size: 18px;
	line-height: 40%;
}

.about .container {
	margin-top: 100px;
	width: 90%;
}

.about .content strong {
	font-family: "Hero-Light";
	/*font-weight: bold;*/
}

.about dd {
	margin-bottom: 20px;
}

.about h5 {
	margin-bottom: 13px;
	font-size: 23px;
	font-family: "Hero-Light";
}

.about .block {
	font-size: 15px;
}

.about .bull {
	position: relative;
	top: 17px;
	color: #77008B;
	font-size: 38px;
	font-size: 3.5em;
}

.about .col{
	padding-left:50px; 
}


#arr {
	display: none;
	position: absolute;
	top: 30px !important;	
	right: 3px;
	background: url("../img/down.svg") no-repeat;
	top: 100px;
	height: 20px;
	width: 30px;
	z-index: 100;
	cursor: pointer !important;	
}

.contact #arr {
	top: -65px !important;
}

.about .jumbotron img {
	background: black;
	display: table;
	margin: auto;
	height: 170px;
	width: 170px;
	border-radius: 100%;
}

.about .container {
	width: 1000px;
}

#about {
	cursor: pointer;
}

.about .block small {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
}

.about h5.achiv {
	margin-top: 40px;
}

.about small {
	font-weight: lighter;
	font-style: italic;
}

.about .resume {
	position: relative;
	width: 165px;
	font-weight: bold;
	background: #77008B;
	border-radius: 5px;
	text-transform: capitalize;
	font-family: "Hero-Light" !important;
	font-size: 16px;
	margin-top: 40px !important;
}

.about .resume span {
	position: absolute;
	left: 28px;
	top: 0;
}

.about .resume img {
	position: absolute;
	top: 6px;
	right: 24px;
	height: 20px;
	width: 20px;
}

.about .foot {
	margin-top: 100px;
	margin-bottom: 20px;
}



/* Work Page */
.work .jumbotron{
	background: white;
	padding-bottom: 0;
}

.work .wrapper {
	background: white;
	width: 970px;
	margin: auto;
}



.work .imgs{
	height: 120px;
	width: 200px;
	background: purple;
	margin: 20px auto; 
}

.work h3 {
	margin-top: 40px;
	margin-bottom: 30px;
}

.work .btns {
	display: inline-block;
	margin: 20px auto;
}

.work .btns .btn {
	color: white;
	width: 180px;
}

.drbl-btn {
	background: #EA4C89;
	position: relative;
	margin-right: 10px;
}

.drbl-btn img{
	position: absolute;
	top: 5px;
	left: 20px;
}

.be-btn {
	position: relative;
	background: #2E99D1;
	padding-left: 50px;
	margin-left: 10px;	
}

.be-btn img {
	position: absolute;
	top: 8px;
	left: 20px;
	margin-right: 50px;
}

.work .foot {
	margin-top: 100px;
	margin-bottom: 20px;
}


/* Contact Page */

.contact .wrapper {
	background: white;
	width: 970px;
	margin: auto;
}

/*.contact .container-l {
	margin-left: initial;
	margin-right: auto;
	width: 50%;
}*/

.contact .container {
	width: 100%;
	margin: 90px auto;
}

.contact .container-l h5{
	margin-left: -2px; 
} 

.contact .container-l p {
	margin-left: -2px; 
}
/*
.contact .container-r {
	float: right;
	margin-left: auto;
	margin-right: initial;
	width: 49%;	
}*/

.contact .container-r .map {
	height: 300px;
	width: 300px;
	background: purple;
	margin: auto;
	margin-top: 30px;
}

.contact .submit {
	float: right;
	position: relative;
	width: 155px;
	font-weight: bold;
	background: #77008B;
	border-radius: 5px;
	text-transform: capitalize;
	font-family: "Hero-Light" !important;
	font-size: 16px;
}

.contact .text-center {
	text-align: center;
}

.contact .foot {
	margin-top: 180px;
	margin-bottom: 20px;
}

* {
	/*border: 1px solid black;*/
}
/********************************************************************************/

#contact{
	cursor: pointer;
}

#work {
	cursor: pointer;
}

.something {
	float: right;
	margin-top: 20px;
}


.btn:hover {
	background: purple;
	box-shadow: none;
}

.btn {
	box-shadow: none;
}



/*MEDIA QUERIES*/

@media screen and (max-width: 600px) {
	#lgt {
		display: none;
	}

	.icons {
		position: relative;
		display: block;
		margin: auto;
		/*border: 1px solid white;*/
	}
}

@media screen and (max-width: 420px) {

	.icons {
		/*right: initial;*/
		/*margin: 1px auto 1px auto;*/
		right: 9vw;
	}

	.logo h1{
		font-size: 30px;
		top: -150px;
	}

	.logo h3 {
		font-size: 26px;
	}


	.logo p{
		font-size: 14px;
	}

}

@media screen and (min-height: 800px) {
	.logo {
		top: 18vh;
	}
	.info-page {
		top: 10vh;
	}
}